:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color: rgba(255, 255, 255, 0.87); */
  --bgColor: #F1F1F1;
  --taskColor: #FDFBFA;
  --borderColor : #c7c7c7;
  --textColor: #191A1A;
  --blueColor: rgb(99, 108, 231);
}